<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# defer non critical css  #}
    <link rel="preload" href="/css/styles.css?v={{cacheBust.hash}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/styles.css?v={{cacheBust.hash}}"></noscript>
    
    <script async src="/assets/main.js?v={{cacheBust.hash}}"></script>
    <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>

  </body>
</html>